
<p id="notice"><%= notice %></p>
<div class="container pb-4 pt-4">
  <div class="row pt-4">
  <% if user_signed_in? %> 
   <%= render 'logged'%>
  <% else %>
  <%= render 'start'%>
 <% end %>
     

