<div class="container pb-5 pt-5 ">
<div class="row pt-3">
    <div class=" d-flex card col-md-6 pt-3" >
        <div class="card-body">
          <h2 class="card-title h2">New Post</h2>
           <p class="card-text"><%= render 'form', post: @post %></p>
            <%= link_to 'Back', posts_path %>          
        </div>
    </div>
     
   
</div>
</div>


